*{
    margin: 0;
    padding: 0;
}

/* HEADER     */
.fa-bars{
    margin: 0px 10px;
    margin-top: 18px;
}
.hub{
    font-size: 2rem;
    color:rgb(37, 37, 37);
     display: none;
}
header{
    background-image: url('images/imo/dffh.jpg');
    background-size: cover;
    height: 120vh;
    padding: 10px 0px;
    position: relative;
}
.new-style{
    display: flex;
    gap: 15%;
    margin: 1px 3%;
}
.new-style .log button{
    margin: 12px 20px;
    font-size: 0.97rem;
    color: white;
    background-color: black;
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 4px;
  
}
.log button:hover{
    font-size: 0.98rem;
    background-color: transparent;
    color: black;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 90px;
}
.log{
    padding: 0px 0%;
    display: flex;
    justify-content: space-around;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding-left: 30px;
    padding-top: 16px;
}
.log a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
a:hover{
    text-decoration: underline;
    color:white;
}
.new-style h1 {
    font-size: 2.7rem;
}


/* FASHION TRENDS */
span{
    color: red;
}
.trends  .title{
    margin-top: 40px;
    text-align: center;
  
}
.trends hr{
 margin: 0px 45%;
}
.big{
    display: grid;
    grid-template-columns: 550px 550px;
    gap: 20px;
}
.trends .hu {
    margin: 40px 40px;
}
.hu p{
    margin: 20px 0px;
}
.suu img{
    width: 180px;
    height: 270px;
}
.suu img:hover{
    transform: scale(0.95);
}
.suu{
    margin-top: 50px;
    margin-left: 2px;
}
#q{
    color: gray;
    margin-top: -1px;
    text-decoration: none;
}
.suu p{
    font-size: 1.2rem;
    text-decoration: underline;
    margin-left: 15px;
}
.suu p:hover{
    color: blue;
}
.suu a{
    color: black;
    text-decoration: none;
    height: 100px;
    font-size: 0.92rem;   
}
.suu button a:hover {
    color: blue;
}
.suu button{
    margin-left: 5px;
    width: 140px;
    height: 30px;
    background-color: transparent;
}

/* FOOTER */
.footer{
    background: linear-gradient(rgb(49, 47, 47),rgb(95, 89, 89)) ;
    height: 65vh;
    margin-top: 40px;
    padding: 10px  2%;
}
.boss{
    display: flex;
    gap: 25%;
    padding-top: 50px;
}
.low{
    color: white;
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 20%;
}
.fot a:hover{
    text-decoration: underline;
}
.fot h2{
    margin-bottom: 10px;
}
.fot ul{
    display: flex;
    flex-direction: column;
}
.fot li{
    list-style: none;
    padding-top: 5px;
}
.fot a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.noo{
    margin-left: 10px;
    color: white;
}
.noo h1{
    font-size: 2.7rem;
}
.noo p{
    padding-top: 5px;
}
#j{
    color: rgb(170, 52, 72);
}
#j:hover{
    color: rgb(173, 93, 120);
}
.go {
    margin: 35px  50px; 
    display: flex;
    gap: 15%;
}
.go a:hover{
    color: rgb(43, 106, 131);
}
.go a{
    color: blue;
    font-size: 1.5rem;
}
.footer hr{
    margin-top: -20px;
}
.wait {
    display: flex;
    margin-top: 25px;
}
.wait hr{
    margin-left: 10px;
    margin-top: 1px;
    height: 20px;
}
.wait a{
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
    padding-left: 10px;
}
.wait a:hover{
    text-decoration: underline;
}
#f{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 0.85rem;
    color: white;
}

/* dropdown_menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 250px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 263px;
}
.dropdown_menu li{
    padding: 0.9rem;
    display: flex;
    justify-content: center;
}
.dropdown_menu .lol{
    display: flex;
    justify-content: center;
    width: 100%;
}
.dropdown_menu a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
.lol button{ 
    margin-top: 10px;
    height: 30px;
    width: 280px;
    border: none;
    border-radius: 10px;
    background-color: antiquewhite;
    font-size: 0.99rem;
} 
/* RESPONSIVE */

@media(max-width:992px){
    .log{
        display: none;
    }
    .new-style .hub{
        display: block;
    }
    .new-style{
        display: flex;
        justify-content: space-between;
    }
    .dropdown_menu{
        display: block;
    }
    .big{
        display: grid;
        grid-template-columns: 450px 450px;
    }
    header{
        width: 100%;
    }
    .footer{
        width: 95%;
    }
    .footer .low{
        display: grid; 
        margin-left: -100px;       
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    #p{
        margin-top: 270px;
        font-size: 2rem;
    }

    .footer{
        width: 93%;
    }
    .big{
        display: grid;
        grid-template-columns: 450px;
    }
    .footer{
        height: 100vh;
        padding:0px 3%;
    }
    .low{
        display: grid;
        grid-template-columns: 200px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .noo{
        margin-top: 85px;
    }
}


